<web-app
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
    	<description>
    	</description>
    	<display-name>UserLogin</display-name>
    	<servlet-name>UserLogin</servlet-name>
    	<servlet-class>com.rt.controller.UserLogin</servlet-class>
    	<load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>PaymentOrder</display-name>
    	<servlet-name>PaymentOrder</servlet-name>
    	<servlet-class>com.rt.controller.PaymentOrder</servlet-class>
    </servlet>
 
    <servlet-mapping>
    	<servlet-name>UserLogin</servlet-name>
    	<url-pattern>/ulogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>PaymentOrder</servlet-name>
    	<url-pattern>/order</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
